[Unit]
Description=data publish service to MQTT server for IoT_cloud_solutions_project
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/tony/IoT_cloud_solutions_project/env_cloud_ubuntu
User=tony
Restart=always
RestartSec=5
ExecStart=/home/tony/IoT_cloud_solutions_project/env_cloud_ubuntu/bin/python /home/tony/IoT_cloud_solutions_project/env_cloud_ubuntu/practice4_write_data_to_es.py > /dev/null
#ExecStop=/bin/kill -TERM $MAINPID
#ExecReload=/bin/kill -HUP $MAINPID
[Install]
WantedBy=multi-user.target
